
/****  progress SSS*/
.pops ul.progress-bar {
    width: 100%  !important;
    margin: 0  !important;
    padding: 0  !important;
    font-size: 0  !important;
    list-style: none  !important;
    background-color: #337ab700 !important;
    
    
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    
    
}

.pops li.section {
    display: inline-block  !important;
    padding-top: 45px  !important;
    font-size: 12px  !important;
    
    line-height: 16px !important;
    color: gray;
    vertical-align: top  !important;
    position: relative  !important;
    text-align: center  !important;
    overflow: hidden  !important;
    float: inherit !important;
    border-bottom: none;
    text-overflow: ellipsis  !important;
}

.pops li.section:before {
    content: 'x';
    position: absolute;
    top: 2px;
    left: calc(50% - 15px);
    z-index: 1;
    width: 30px;
    height: 30px;
    color: white;
    border: 2px solid white;
    border-radius: 17px;
    line-height: 28px;
    background: gray;
}
.pops .status-bar {
    height: 2px;
    background: gray;
    position: relative;
    top: 20px;
    margin: 0 auto;
}
.pops .current-status {
    height: 2px;
    width: 0;
    border-radius: 1px;
    background: mediumseagreen;
}

@keyframes changeBackground {
    from {background: gray}
    to {background: mediumseagreen}
}

.pops li.section.visited:before {
    content: '\2714';
    animation: changeBackground .5s linear;
    animation-fill-mode: forwards;
}

.pops li.section.visited.current:before {
    box-shadow: 0 0 0 2px mediumseagreen;
}


 /****  progress END*/
