/*----------------------------------------------------------------------
       MASTER STYLESHEET
       Project:        Firezapp.com 
       Author:         Shavad VP
       Primary use:    Corporate.
------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 260px;
    position: fixed;
    top: 56px;
    left: -260px;
    height: 100vh;
    z-index: 999;
    background: #f5f5f5;
    color: #111111;
    transition: all 0.3s;
}
#sidebar.active {
    left: 0px;
}
#sidebar ul.components {
    padding: 20px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #d3d3d3;
}
#sidebar ul li a img {
    margin-right: 22px;
    height: 22px;
    width: 22px;
}
#sidebar ul li a {
    padding: 10px 20px;
    font-size: 14px;
    display: block;
}
#sidebar ul li a:hover {
    color: #000;
    background: #ebebeb;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #272727;
    font-weight: bold;
}
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*  background: #6d7fcc; */
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.sb-search.sb-search-open, .no-js .sb-search {
    width: 100%;
    float: left;
    width: 100%;
    background: #00000080;
    z-index: 999;
    position: fixed;
    height: 100%;
    display: block;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 43px 125px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 56px;
    right: 0;
    background: #fff;
}
#content.active {
    width: 100%;
}
.tab_wid {
    padding-left: 107px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        left: -260px;
    }
    #sidebar.active {
        left: 0px;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: 100% !important;
    }
    /* #sidebarCollapse span {
        display: none;
    } */
}

/* ---------------------------------------------------
  END
----------------------------------------------------- */

.header {}
a {
    color: #000;
}
a:focus,
a:hover {
    color: #000;
    text-decoration: none
}

.cutm{
    position: fixed;
    top: 72px;
    right: 30px;
    z-index: 9000;
}
.outofstock{
    float: left;
    color: #ffffff;
    padding: 2px 7px 3px;
    font-size: 11px;
    text-transform: uppercase;
    background: #c10000;
    margin-top: 3px;
    margin-right: 5px;
    position: absolute;
    top: -2px;
}
.cutm.alert {
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
}

/*    */
.incvat{
    float: left;
    font-size: 12px;
    margin-top: 18px;
    margin-right: 10px;
    float: left;
    padding: 0;
    color: #ccbfbf;
}
.left_logo_top {
    width: 260px;
    float: left;
}
.right_bar_top {
    width: calc(100% - 260px);
    float: left;
    padding-left: 15px;
}
.topbar {
    width: 100%;
    position: fixed;
    height: 56px;
    background: #fff;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.45);
}
.search_suggestions {
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    top: 35px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.45);
}
.search_suggestions ul {
    width: 100%;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.search_suggestions ul li {
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
}
.search_suggestions ul li a {
    color: #000;
    padding: 4px 0;
    margin: 0px;
    width: 100%;
    float: left;
}
.search_suggestions ul li a:hover {
    color: #616161;
}

/*mob_search_suggestions Start */

.mob_search_suggestions {
    top: 56px;
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(68, 68, 68, 0.45);
    z-index: 1000; 
    overflow-y: scroll;
    max-height: 500px;
}
.mob_search_suggestions ul {
    width: 100%;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.mob_search_suggestions ul li {
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
}
.mob_search_suggestions ul li a {
    color: #000;
    padding: 4px 0;
    margin: 0px;
    width: 100%;
    float: left;
}
.mob_search_suggestions ul li a:hover {
    color: #616161;
}

/*mob_search_suggestions End */

.topbar .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}
.tog_menubar {
    width: 18px;
    height: auto;
    float: left;
    padding: 18px 40px 0 15px;
}
.bnttogbar {
    cursor: pointer;
    float: left;
    background: #fff;
    border: none;
}
button.bnttogbar:focus {
    outline: 1px dotted;
    outline: none;
}
.bnttogbar span {
    width: 18px;
    height: 2px;
    margin: 2px 0;
    background: #a0a0a0;
    float: left;
}
.bnttogbar:hover span {
    background: #000;
}
.logo {
    float: left;
    padding-top: 8px;
}
.top_search {
    width: 100%;
    margin-top: 4px;
}
.top_search .form-control {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.top_search .btn.btn-default {
    width: 100%;
    background: #f8f8f8;
    border-radius: 1px;
}
.right_bnt {
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}
.sign_in {
    text-transform: uppercase;
    color: #f46d17 !important;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.sign_in span {
    cursor: pointer;
}
.sign_in:hover {
    color: #000!important;
}
.sign_in .dropdown-menu {
    text-transform: none;
    border-radius: 0px;
    min-width: 275px;
    padding: 0 0;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    margin-top: 13px;
    border-top: #dcdcdc px solid;
}
.sign_in .dropdown-menu > li > a {
    padding: 15px 20px;
    /*border-bottom: #f1f1f1 1px solid;*/
}
.sign_in .dropdown-menu i {
    margin-right: 10px;
    background: rgba(255, 182, 0, 1);
    background: -moz-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 182, 0, 1)), color-stop(100%, rgba(247, 52, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffb600', endColorstr='#f73400', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cart_counter {
    background: #f57817;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    color: #fff;
    text-align: center;
    padding-top: 0px;
    font-size: 12px;
    margin-left: 12px;
    border: #fff 1.5px solid;
}
.right_bnt .cart {
    padding: 0 10px;
    float: left;
    margin-top: 3px;
}
.right_bnt .cart:hover {
    opacity: .6;
}
.icn {
    width: 22px;
    height: 20px;
    float: left;
    margin-right: 15px;
    font-size: 18px;
    text-align: center;
    color: #888;
    margin-top: -2px;
}
li.active .icn i {
    background: #faa71a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icn.home {
    background: url(../images/home.png) no-repeat;
}
.active .icn.home {
    background: url(../images/home-h.png) no-repeat;
}
.icn.mobiles_accessories {
    background: url(../images/mobiles_accessories.png) no-repeat;
}
.active .icn.mobiles_accessories {
    background: url(../images/mobiles_accessories-h.png) no-repeat;
}
.icn.tablets_accessories {
    background: url(../images/tablets_accessories.png) no-repeat;
}
.active .icn.tablets_accessories {
    background: url(../images/tablets_accessories-h.png) no-repeat;
}
.icn.apparel_accessories {
    background: url(../images/apparel_accessories.png) no-repeat;
}
.active .icn.apparel_accessories {
    background: url(../images/apparel_accessories-h.png) no-repeat;
}
.icn.clothes {
    background: url(../images/clothes.png) no-repeat;
}
.active .icn.clothes {
    background: url(../images/clothes-h.png) no-repeat;
}
.icn.health-beauty {
    background: url(../images/health-beauty.png) no-repeat;
}
.active .icn.health-beauty {
    background: url(../images/health-beauty-h.png) no-repeat;
}
.icn.home_kitchen {
    background: url(../images/home_kitchen.png) no-repeat;
}
.active .icn.home_kitchen {
    background: url(../images/home_kitchen-h.png) no-repeat;
}
.icn.audio_video_systems {
    background: url(../images/audio_video_systems.png) no-repeat;
}
.active .icn.audio_video_systems {
    background: url(../images/audio_video_systems-h.png) no-repeat;
}
.icn.pc-laptops-accessories {
    background: url(../images/pc-laptops-accessories.png) no-repeat;
}
.active .icn.pc-laptops-accessories {
    background: url(../images/pc-laptops-accessories-h.png) no-repeat;
}
.icn.pc-laptops-accessories {
    background: url(../images/pc-laptops-accessories.png) no-repeat;
}
.active .icn.pc-laptops-accessories {
    background: url(../images/pc-laptops-accessories-h.png) no-repeat;
}
.icn.cameras-accessories {
    background: url(../images/cameras-accessories.png) no-repeat;
}
.active .icn.cameras-accessories {
    background: url(../images/cameras-accessories-h.png) no-repeat;
}
.icn.toys_games {
    background: url(../images/toys_games.png) no-repeat;
}
.active .icn.toys_games {
    background: url(../images/toys_games-h.png) no-repeat;
}
.icn.sports {
    background: url(../images/sports.png) no-repeat;
}
.active .icn.sports {
    background: url(../images/sports-h.png) no-repeat;
}
.icn.automotive {
    background: url(../images/automotive.png) no-repeat;
}
.active .icn.automotive {
    background: url(../images/automotive-h.png) no-repeat;
}
.icn.stationery_office_supplies {
    background: url(../images/stationery_office_supplies.png) no-repeat;
}
.active .icn.stationery_office_supplies {
    background: url(../images/stationery_office_supplies-h.png) no-repeat;
}
.all_categories {
    border-bottom: #ccc 1px solid;
    float: left;
    width: 100%;
}
.all_categories a {
    color: #7f7f7f;
    float: left;
    width: 100%;
    padding: 12px 20px 12px;
}
.all_categories a:hover {
    color: #000;
    background: #ebebeb;
}
.lt_ftmenu {
    float: left;
    margin-top: 20%;
    font-size: 12px;
    padding-left: 20px;
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: #ccc 1px solid;
}
.lt_ftmenu a {
    float: left;
    width: 100%;
    color: #7f7f7f;
}
.lt_ftmenu a:hover {
    color: #000000;
}
.copy {
    float: left;
    font-size: 12px;
    padding-left: 20px;
    color: #7f7f7f;
    padding-bottom: 150px;
}
.copy a {
    color: #7f7f7f;
}
.copy a:hover {
    color: #000;
}

.pay_icon {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

                            
                            
.ctm_tems_checkbox .checkbox {
  position: relative;
  margin-bottom: 20px;
}

.ctm_tems_checkbox .checkbox label {
  padding-left: 30px;
  display: block;
}

.ctm_tems_checkbox .checkbox input {
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.ctm_tems_checkbox .checkbox input:checked + .input-helper:before {
  border-color: #009688;
}

.ctm_tems_checkbox .checkbox .input-helper:before,
.ctm_tems_checkbox .checkbox .input-helper:after {
  position: absolute;
  content: "";
  transition: all 200ms;
}

.ctm_tems_checkbox .checkbox .input-helper:before {
  left: 0;
  border: 2px solid #7a7a7a;
}

.ctm_tems_checkbox .checkbox input {
  width: 20px;
  height: 20px;
}

.ctm_tems_checkbox .checkbox input:checked + .input-helper:before {
  background-color: #009688;
}

.ctm_tems_checkbox .checkbox input:checked + .input-helper:after {
  transform: scale(1);
  opacity: 1;
}

.ctm_tems_checkbox .checkbox .input-helper:before {
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  color: #fff;
}

.ctm_tems_checkbox .checkbox .input-helper:after {
  content: '\2713';
  font-size: 14px;
  left: 3px;
  top: 0x;
  color: #fff;
  transform: scale(0);
  opacity: 0;
}
   
.ctm_tems_checkbox{
    float: left;
}

.ctm_tems_checkbox span a:hover{
    text-decoration: underline;
}

 



.wrap {
    float: left;
    width: 100%;
    border-bottom: #e2e2e2 1px solid;
    margin-bottom: 5px;
    padding-bottom: 25px;
}
.vidicon {
    width: 24px;
    height: 17px;
    float: right;
    background: url(../images/vidicon.png);
    position: absolute;
    top: 8px;
    right: 5px;
    z-index: 999;
    cursor: pointer;
}
.vidicon:hover {
    opacity: .5;
}
.dsrp {
    float: left;
    width: 100%;
    margin: 3px 0;
    padding: 0 5px 5px;
}
.dsrp h1 {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 1px;
}
.like {
    background: url(../images/like.png);
    width: 22px;
    height: 21px;
    float: left;
    cursor: pointer;
    margin-top: 8px;
}
.like:hover {
    opacity: .9;
}
.like.atv {
    background: url(../images/like-a.png);
}
.deslike {
    background: url(../images/deslike.png);
    width: 22px;
    height: 21px;
    float: left;
    cursor: pointer;
    margin-top: 8px;
}
.deslike:hover {
    opacity: .9;
}
.deslike.atv {
    background: url(../images/deslike-a.png);
}
.counter {
    font-size: 12px;
    color: #7c7c7c;
    padding: 2px 5px 6px;
    float: left;
    margin-top: 8px;
}
.itm_right_bnt {
    /*background: #faa71a;*/
    /*-webkit-border-radius: 3px;*/
    /*-moz-border-radius: 3px;*/
    /*border-radius: 3px;*/
    padding: 2px 8px;
    float: right;
    max-width: auto;
    min-width: auto;
}
.itm_right_bnt:hover {
    /*background: #ed6800*/
}
.add_to_cart {
    margin: 6px 2px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    float: left;
    display: inline-block;
    text-align: center;
    border-right: #8c8c8c 1px solid;
    width: 21px;
    height: 16px;
    padding-right: 46px;
    background: url(../images/add_to_cart.png) no-repeat center center;
}
.add_to_cart.atv {
    background: url(../images/add_to_cart_a.png) no-repeat center center;
}
.add_to_cart a {
    color: #fff;
    float: left;
    width: 100%;
    padding: 5px 0;
}
.price {
    display: inline-block;
    float: left;
    padding: 2px 5px 2px 7px;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
.price span {
    color: #000;
    font-size: 11px;
    padding: 5px 1px;
    font-weight: normal;
    float: right;
    text-align: left;
}
.owl-stage-outer .item h4 {
    min-height: 40px;
    padding: 0 5px;
}
.sb-search {
    display: none;
}
.color .sgid {
    padding: 0;
}
.sgid {
    padding: 6px 10px;
    border: 2px solid #e0e0e0;
    min-width: 36px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    font-weight: 500;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
.sgid:hover {
    border: 2px solid #bbbbbb;
}
.sgid.SelectedProduct {
    border: 2px solid #faa71a;
}
.product_details .dsrp .add_to_cart {
    margin-top: 35px;
}
.product_details .dsrp {
    border-bottom: #ccc 1px solid;
    margin-bottom: 10px;
    padding: 0;
}
.like_wrap {
    float: left;
    margin-right: 10px;
}
.dislike_wrap {
    float: left;
    margin-right: 10px;
}
.share {
    float: left;
    margin-right: 5px;
    color: #7c7c7c;
    margin-top: 8px;
}
.share a {
    color: #7c7c7c;
}
.share span {
    float: left;
}
.share i {
    font-size: 16px;
    color: #a0a0a0;
    float: left;
    margin: 4px 6px 0 0;
}
.share:hover i,
.share:hover a:hover {
    color: #636363;
}
.share .dropdown-menu {
    margin-top: 25px;
    min-width: 320px;
    right: 0;
    left: inherit;
}
.share .dropdown-menu li {
    width: 25%;
    height: auto;
    float: left;
    padding: 0 5px;
}
.share .dropdown-menu li i {
    width: 65px;
    height: 65px;
    float: left;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    overflow: hidden;
}
.share .dropdown-menu li a {
    padding: 0;
}
.share .dropdown-menu .subtext {
    font-size: 12px;
    text-align: center;
    width: 100%;
    float: left;
    margin: 2px 0;
}
._sr_facebook i {
    padding: 21px 0 0 0;
    background: #3b5998;
    font-size: 25px;
    margin: 0;
}
._sr_twitter i {
    padding: 21px 0 0 0;
    background: #1da1f2;
    font-size: 25px;
    margin: 0;
}
._sr_instagram i {
    padding: 21px 0 0 0;
    background: #966842;
    font-size: 25px;
    margin: 0;
}
._sr_email i {
    padding: 21px 0 0 0;
    background: #888888;
    font-size: 25px;
    margin: 0;
}
.product_details .itm_right_bnt {
    margin-top: -5px;
    margin-bottom: 10px;
}
.description {
    float: left;
    width: 100%;
    margin-top: 10px;
    border-bottom: #eeeeee 1px solid;
    margin-bottom: 5px;
    padding-bottom: 20px;
}
.description h4 {
    font-size: 16px;
    margin-bottom: 5px;
}
.description ul {
    padding: 1px 20px;
    margin: 0px;
}
.description ul li {}
.description table {
    font-size: 12px;
}
.description .table > tbody > tr > th,
.description .table > tbody > tr > td {
    border: none;
    padding: 2px 3px 2px 0;
}
.star_rt {
    background-color: #388e3c;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}
.reviews_blok {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.similar_products {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #ccc 1px solid;
}
.similar_products .sub_text {
    padding: 0px;
}
.similar_products .imgsub {
    padding: 0px 10px 0 0;
}
.similar_products h4 {
    max-height: 46px;
    min-height: 46px;
    line-height: 17px;
}
.blok_right h3,
.similar_products h4 {
    margin-top: 0;
    padding-top: 0px;
}
.similar_products h5 {}
.blok_right h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.similar_products .like {
    margin-top: 3px;
}
.similar_products .counter {
    margin-top: 3px;
}
.similar_products .itm_right_bnt {
    padding: 2px 0 2px 6px;
}
.similar_products .like_wrap {
    margin-right: 0;
}


.category_wrap,
.category_item_img {
    width: 100%;
    float: left;
}
.category_item_img {
    /* padding-bottom: 10px; */
}
.category_wrap {
    margin-bottom: 30px;
    min-height: 250px;
}
.category_item_img img {
    width: 100%;
    float: left;
}
.category_wrap h4 {
    float: left;
    min-height: 40px;
    width: 100%;
}
.category_item_img .vidicon {
    top: 10px;
    right: 20px;
}
#content.category {
    padding: 44px 5%;
}
.cate_min {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*#content.CategoryActive{*/


/*    padding: 43px 15px;*/


/*}*/

.sort_by span {
    float: left;
    margin-top: 5px;
}
.sort_by .dropdown {
    float: right;
    margin-left: 5px;
}
.sort_by {
    float: right;
    width: auto;
    margin-bottom: 8px;
    text-align: right;
    margin-top: -40px;
}
.sort_by .caret {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

/* product slider S---*/

#sync1 .item {
    padding: 0px;
    margin: 0 5px 1px 0;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    width: 100%;
}
#sync2 .item {
    padding: 0px 0px;
    margin: 1px 5px 2px 0;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .item h1 {
    font-size: 18px;
}
#sync2 .current .item {
    background: #0c83e7;
}
.product_details #sync1 .owl-theme .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    display: none;
}
.owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
#sync1.owl-theme {
    position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
#sync1.owl-theme .owl-prev {
    left: 10px;
}
#sync1.owl-theme .owl-next {
    right: 10px;
}
.owl-carousel .owl-stage {
    margin: 0 auto;
}
.product_details .owl-carousel .owl-stage-outer {
    position: absolute;
    margin-top: -65px;
    width: 100%;
    text-align: center;
}
.product_details .owl-carousel .owl-item {
    width: 75px !important;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    float: none;
}
video::-internal-media-controls-download-button {
    display: none;
}
video::-webkit-media-controls-enclosure {
    overflow: hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
    /* Adjust as needed */
}
.pro_img {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    border: #dcdcdc 1px solid;
}
.sub_sldwrp {
    float: left;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}
.product_details .owl-carousel.owl-loaded {
    float: left;
}
.product_details .owl-theme .owl-nav [class*='owl-'] {
    padding: 4px 7px;
    width: 25px;
    height: 25px;
    font-size: 15px !important;
}
.product_details .owl-theme .owl-nav {
    top: 33%;
}

/* 31-5-2018   */

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall {
    border-top: #e2e2e2 1px solid;
    margin-top: 20px;
    padding: 10px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    width: 100%;
    float: left;
}
.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img {
    width: auto;
    height: auto;
    margin: 10px auto 10px;
    display: block;
}
.need-help {
    margin-top: 10px;
}
.new-account {
    display: block;
    margin-top: 10px;
    float: left;
    text-align: center;
    width: 100%;
}
.checkbox_wrap {
    margin-left: 20px;
    float: left;
}
.form_signup {
    padding: 15px;
    margin: 0 auto;
}
.onlytopbar {
    border-top: #e2e2e2 1px solid;
    padding: 0px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
}
.cart_table_wrap {
    width: 100%;
}
.cart_table_wrap h3 {
    margin-top: 15px;
}
.cart_table_wrap h2 {
    border-bottom: #dddddd 3px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0px;
}
.cart_table_wrap .thumbnail {
    margin-right: 15px;
    padding-right: 5px;
    margin-bottom: 0px;
}
.cart_table_wrap .table > thead > tr > th,
.cart_table_wrap .table > tbody > tr > th,
.cart_table_wrap .table > tfoot > tr > th,
.cart_table_wrap .table > thead > tr > td,
.cart_table_wrap .table > tbody > tr > td,
.cart_table_wrap .table > tfoot > tr > td {
    padding: 4px 15px;
}
.rem_bnt {
    text-align: right;
}
.last_colm td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.cart_table_wrap table {
    margin-bottom: 0px;
}
.last_colm {
    text-align: right;
}
.checkout_wrap {
    padding: 15px;
}
.checkbox_blok {
    float: left;
    width: 100%;
    margin: 0px 0 5px;
    padding: 0px;
    height: auto;
}
checkout_wrap .list-group {
    float: left;
    width: 100%;
}
.zxd {
    padding: 0px;
    margin-bottom: 10px;
}
.my_profile a[aria-expanded="true"]::before {
    display: none;
}
.my_profile .nav-pills > li > a {
    border-radius: 0;
}
.my_profile .tab-content {
    border-left: #ccc 1px solid;
    min-height: 260px;
}
.my_profile .nav {
    padding-right: 0;
}
.my_profile h2 {
    margin-bottom: 0;
}
.my_order_tab .table {
    border: #ccc 1px solid;
    margin-bottom: 20px;
}
.my_order_tab .table > thead > tr > th,
.my_order_tab .table > tbody > tr > th,
.my_order_tab .table > tfoot > tr > th,
.my_order_tab .table > thead > tr > td,
.my_order_tab .table > tbody > tr > td,
.my_order_tab .table > tfoot > tr > td {
    padding: 4px 8px;
}
.profile_wrap,
.orders_wrap,
.sign_lnd,
.onlytopbar,
.signup_lnd {
    margin-top: 90px;
    margin-bottom: 45px;
}
.profile_wrap {
    float: left;
    width: 100%;
}
.blklft {
    padding: 15px;
    margin-bottom: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    border-top: #e8e8e8 1px solid;
    float: left;
    width: 100%;
}
.blklft.pic img {
    float: left;
    margin-right: 10px;
}
.blklft h3 {
    margin-top: 5px;
}
.videoIconP {
    position: absolute;
    margin-top: 3px;
    margin-left: -31px;
}
.blklft ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
    list-style: none;
}
.blklft ul li {
    padding: 0px 0px;
    margin: 0px 0px;
    font-weight: 500;
    color: #525252;
    border-bottom: #ccc 1px solid;
    float: left;
    width: 100%;
}
.blklft ul li a {
    padding: 0px 5px !important;
    margin: 0px 0px;
    float: left;
    width: 100%;
    color: #525252;
}
.blklft h3 small a {
    color: #f35b00;
    font-size: 12px;
    font-weight: bold;
}
.blklft ul li a:hover {
    background: #fcddc3;
}
.blklft ul li i {
    margin-right: 10px;
}
.blklft ul li ul li {
    line-height: 25px;
    border-bottom: none;
    margin-bottom: 5px;
    padding: 0px 0px !important;
}
.blklft ul li ul li a {
    padding-left: 24px!important;
}
.lastnone {
    border-bottom: none !important;
}
.profile_wrap label {
    font-size: 13px;
    color: #777;
}
.addnew {
    border-radius: 0px;
    margin-bottom: 20px;
    text-align: left;
}
.form_addresses {
    border: #ccc 1px solid;
    padding: 15px 0;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.addresses_blk {
    border: #ccc 1px solid;
    border-top: none;
    padding: 20px;
    float: left;
    width: 100%;
    font-size: 13px;
}
.addresses_blk.first_child {
    border-top: #ccc 1px solid;
}
.addresses_blk .dropdown-menu {
    padding: 10px;
    min-width: 90px;
}
.addresses_blk .dropdown-menu li {
    border-bottom: none !important;
}
.addresses_blk .btn {
    border-radius: 0px;
}
.addresses_blk span {
    margin-left: 10px;
}
.orders_blk {
    border: solid 1px #d7d7d7;
    margin-bottom: 15px;
    padding: 0px 0;
    float: left;
    width: 100%;
    font-size: 13px;
}
.orders_blk .btn {
    border-radius: 0px;
}
.orders_blk_topbra {
    background: #f9f9f9;
    float: left;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #e6e6e6;
}
.orders_blk table h5 {
    color: #8e8e8e;
    margin: 2px 0;
    font-size: 12px;
}
.orders_blk table h6 span {
    color: #8e8e8e;
}
.orders_blk table h6 {
    float: left;
    width: 50%;
}
.orders_blk table td {
    padding: 12px;
}
.order_total {
    float: right;
    text-align: right;
}
.order_bottom {
    border-top: 1px solid #e6e6e6;
}
.order_bottom {
    padding: 2px 12px !important;
}
.order_media {
    width: 100px;
}
.cart_table_wrap label {
    font-size: 14px;
    color: #464646;
}
.price_details_tb td {
    padding: 5px 0 !important;
    border: none !important;
}
.amount_payable td {
    border-top: 1px dashed #b3b3b3!important;
    border-bottom: 1px solid #b3b3b3!important;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 35px !important;
}
.priceoffer {
    padding-top: 15px !important;
    color: #388e3c;
    font-weight: 500;
    font-size: 12px;
}
.stats.cart dt {
    width: 40%;
    text-align: left;
}
.stats.cart dd {
    width: auto;
}
.stats dd,
.stats dt {
    display: block;
    float: left;
}
.stats.cart {
    color: #585858;
    padding: 0;
    float: left;
    width: 100%;
}
.delivery_days {}
.cart_prices {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 10px;
}
.cart_prices span {
    text-decoration: line-through;
    color: #878787;
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
    font-weight: normal;
}
.qty_label .form-control {
    font: 18px;
    color: #000;
    font-weight: bold;
}
.qty_label .form-control {
    padding: 6px 6px;
}
.qty_label {
    float: left;
    width: 50px;
    margin: 8px 0;
}
.btn.btn-default.remove {
    margin: 8px 10px
}
.btn.btn-default.remove:hover {
    color: #f10;
}
.cart_proc_botm button {
    margin-left: 5px;
    border-radius: 0px;
    margin-bottom: 10px;
}
.cart_proc_botm {
    padding: 15px 15px 5px;
    background: #fff;
}
.order_details {
    padding 10px 5px;
    float: left;
}
.wishlist {
    width: 100%;
}
.icon_remove {
    float: right;
    background: #c5c5c5;
    padding: 3px 8px;
    color: #000;
    cursor: pointer;
}
.icon_remove:hover {
    color: darkred;
}
.cartitmbok {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px 0;
    float: left;
    width: 100%;
}
.promo_code_alert {
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    border-radius: 0;
    font-size: 12px;
    text-align: center;
}
.cart_empty {
    text-align: center;
}
.cart_empty img {
    margin: 0 auto;
}
.social-login {
    text-align: center;
    font-size: 12px;
    float: left;
    width: 100%;
    margin-bottom: 21px;
}
.social-login p {
    margin: 15px 0;
}
.social-login ul {
    list-style-type: none;
    float: none;
    margin-bottom: 0;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.social-login ul li {
    width: 33.333%;
    float: left;
    clear: fix;
    /*padding: 0 1px;*/
}
.social-login ul li a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
    display: block;
}
.social-login ul li:nth-child(1) a {
    background: #3b5998;
}
.social-login ul li:nth-child(2) a {
    background: #e74c3d;
}
.social-login ul li:nth-child(3) a {
    background: #3698d9;
}
.sa-innate-form input[type=text],
.sa-innate-form input[type=password],
.sa-innate-form input[type=file],
.sa-innate-form textarea,
.sa-innate-form select,
.sa-innate-form email {
    font-size: 13px;
    padding: 10px;
    border: 1px solid#ccc;
    outline: none;
    width: 100%;
    margin: 8px 0;
}
.sa-innate-form input[type=submit] {
    border: 1px solid#e64b3b;
    background: #e64b3b;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 5px;
}
.sa-innate-form input[type=submit]:hover {
    border: 1px solid#db3b2b;
    background: #db3b2b;
    color: #fff;
}
.sa-innate-form button {
    border: 1px solid#e64b3b;
    background: #e64b3b;
    color: #fff;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 5px;
}
.sa-innate-form button:hover {
    border: 1px solid#db3b2b;
    background: #db3b2b;
    color: #fff;
}
.sa-innate-form p {
    font-size: 13px;
    padding-top: 10px;
}
.stylish-input-group .input-group-addon {
    padding: 0;
    margin: 0;
    width: 70px;
    border-radius: 0;
    background: #0000;
}
.stylish-input-group .input-group-addon .form-control {
    padding: 3px 6px;
    margin: 0;
    border: none;
    height: 32px;
}
.stylish-input-group {
    width: 100%;
}
.sign_in .profile_drop {
    color: #111111;
}
.profile_drop a {
    padding: 0px;
    margin: 0px;
}
.profile_drop {
    background: #eeeeee;
    margin-bottom: 5px;
}
.profile_drop h5 {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0 5px;
    padding: 0 0;
    color: #111111;
}
.profile_drop h6 {
    font-size: 14px;
    font-weight: normal;
    margin: 2px 0;
    padding: 0 0;
    color: #666666;
}
.profile_drop_user {
    float: left;
    width: 42px;
    height: 42px;
    background: #c5c5c5;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
}
.profile_drop_user img {
    width: 100%;
}
.letter {
    padding-top: 12px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}
.main_profile_user {
    width: 30px;
    height: 30px;
    margin-right: 0px;
    margin-top: -7px;
}
.main_profile_user .letter {
    padding-top: 6px;
    font-size: 14px;
}
#w {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}
.flatbtn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    outline: 0;
    border: 0;
    color: #f9f8ed;
    text-decoration: none;
    background-color: #b6a742;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 22px 12px 22px;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
    box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}
.flatbtn:hover {
    color: #fff;
    background-color: #c4b237;
}
.flatbtn:active {
    -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** notifications **/

.notify {
    display: block;
    background: #fff;
    padding: 12px 18px;
    max-width: 600px;
    margin: 0 auto;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    text-align: center;
}
.OderPageIcon {
    font-size: 72px;
    text-align: center;
    /* color: #f36300; */
    background: rgba(255, 182, 0, 1);
    background: -moz-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 182, 0, 1)), color-stop(100%, rgba(247, 52, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1)100%);
    background: -o-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 182, 0, 1) 0%, rgba(247, 52, 0, 1)100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffb600', endColorstr='#f73400', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.notify.successbox {
    border-top: #25ae88 4px solid;
}
.notify.errorbox {
    border-top: #d75a4a 4px solid;
}
.notify h1 {
    margin-bottom: 6px;
}
.successbox h1 {
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    color: #25ae88;
}
.errorbox h1 {
    font-size: 35px;
    text-align: center;
    font-weight: normal;
    color: #d75a4a;
}
.successbox h1:before,
.successbox h1:after {
    background: #cad8a9;
}
.errorbox h1:before,
.errorbox h1:after {
    background: #d6b8b7;
}
.notify .alerticon {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.successbox {
    text-align: center;
}
.order_detail {
    margin-bottom: 0;
}
.info_orders {
    padding: 15px 10px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}
.manroredr a {
    color: #f36200;
}
.manroredr a:hover {
    color: #000;
}
.delivered i {
    color: #f36200
}
.orblkitm {
    float: left;
    width: 100%;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    border-top: #e8e8e8 1px solid;
    margin-bottom: 15px;
    padding: 10px;
    min-height: 105px;
}
.pops {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    min-width: 600px;
}
.orblkitm h5 {
    margin-bottom: 2px;
}
.reviews_blok_profile {
    float: left;
    width: 100%;
    margin: 10px 0 10px;
}
.reviews_blok_profile .main_profile_user {
    margin-right: 10px;
}
.namefull {
    font-weight: bold;
    float: left;
    font-size: 16px;
    margin: -3px 0 0;
}
.reviews_date {
    font-weight: bold;
    font-size: 12px;
}
.price.product_dts {
    font-size: 36px;
    margin-top: -6px;
    margin-right: 10px;
    float: left;
    padding: 0;
}
.price.product_dts span {
    font-size: 17px;
    float: right;
    text-align: left;
    margin-top: 15px;
}
.product_details .add_to_cart {
    border-right: none;
}
.rating_wrap {
    width: 50%;
    float: left;
}
.review_button {
    width: 50%;
    float: left;
}
.review_top {
    float: left;
    margin-left: 0px;
    margin-top: 5px;
}
.review_top .rating-container .rating-stars {
    /* font-size: 13px; */
}

/*.owl-carousel.owl-drag .owl-item{*/


/*    border: #dcdcdc 1px solid;*/


/*}*/


/*.owl-carousel.owl-drag .owl-item:hover{*/


/*     box-shadow: 0 0px 10px #eaeaea*/


/*}*/

.brand {
    float: left;
}
.share_like_wrap {
    float: right;
}
.share_like_wrap .like,
.share_like_wrap .counter,
.share_like_wrap .share {
    margin-top: 0px;
}
.more_information {
    padding-bottom: 0;
}
.more_information .table-responsive {
    border: none;
}
.order_media img {
    width: 72px;
    height: 60px;
}
.glyphicon-remove {
    color: #ab0c00;
}
.tabfomwith {
    padding-left: 0px;
    padding-right: 0px;
}
.products_not_available {
    font-size: 42px;
    padding: 15% 0;
    text-align: center;
    color: #b1b1b1;
    float: left;
    width: 100%;
}
:-webkit-full-page-media {
    background-color: #fff;
    ;
}
.more_btn {
    background: #2151a3;
    text-align: center;
    min-width: 170px;
    margin: 0 auto;
    display: inline-block;
    padding: 7px 15px;
    color: #fff;
    margin-bottom: 25px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(189, 189, 189, 0.45);
}
.more_btn:hover,
.more_btn:focus {
    color: #fff;
    background: #2151a3;
    background: #faa71a;
    outline: none;
}
.adbtn {
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 3px 0;
    margin: 11px 5px;
    border-radius: 100%;
    border: 1px solid #c2c2c2;
    color: #000;
    font-size: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.overlay {
    display: none;
}
html {
    -webkit-text-size-adjust: none
}
@-ms-viewport {
    width: device-width;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "";
    float: right;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}



.accordion_ctm h4 a::before {

    float: right;
    padding: 0px;
    top: 6px;
    right: 0;
}

.accordion_ctm .panel-group .panel{
    border-radius: 0px;
    float: left;
    width: 100%;
}


.accordion_ctm .panel-heading  {
    padding: 0px;   
}
.accordion_ctm h4 a  {
    display: grid;
    padding: 10px 15px; 
    font-weight: normal;
} 
.accordion_ctm h4 a[aria-expanded="true"]::before {
    content: '\e260';
}

.accordion_ctm h4 a::before {
    content: '\e259';
    display: block;
    position: absolute;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    float: right;
    right: 15px;
    top: 14px;
    margin-right: -5px;
}



/*      */

@media (max-width: 1199px) {}
@media (max-width: 1201px) {
    #content {
        width: 100%;
        padding: 20px 1%;
    }
    .tab_wid {
        padding-left: 0;
    }
}
@media (max-width: 991px) {
    .top_search .btn.btn-default {
        width: 100%;
    }
    .products_not_available {
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    .bnttogbar span {
        width: 100%;
        height: 3px;
        margin: 3px 0;
        background: #a0a0a0;
        float: left;
    }
    .overlay {
        float: left;
        width: 100%;
        background: #00000080;
        z-index: 999;
        position: fixed;
        height: 100%;
        display: block;
    }
    .cartdetails_wrp {
        padding-top: 0px;
    }
    .mob_search {
        top: 58px;
        display: none;
    }
    #content {
        padding: 0px 10px;
    }
    .cart_proc_botm.blklft {
        margin-top: 10px;
    }
    .checkbox_blok {
        margin: 0px 0 15px;
        padding: 0px;
        height: auto;
    }
    .zxd {
        margin-bottom: 10px;
    }
    .product_details .owl-theme .owl-nav {
        top: 17%;
    }
    .topbar .col-xs-7 {
        padding-right: 0px;
    }
    .topbar .col-xs-5 {
        padding-left: 5px;
    }
    .sb-search {
        display: block;
    }
    .bnttogbar {
        width: 40px;
        padding-left: 0px;
    }
    .col-xs-0,
    .tab_wid {
        display: none;
    }
    .logo {
        width: 55%;
        padding-top: 12px;
    }
    .cart {
        padding: 0 1px;
    }
    .tog_menubar {
        width: 25%;
        padding: 13px 10px 0 10px;
    }
    .right_bnt {
        padding-right: 25px;
    }
    .sign_in {
        font-size: 12px;
        padding: 2px;
        margin-left: 20px;
    }
    .right_bnt {
        padding-top: 18px;
    }
    .topbar {
        padding: 0 10px;
    }
    .sign_in .dropdown-menu {
        right: -33px;
        left: auto;
    }
    .sign_in .dropdown-menu > li > a {
        padding: 8px 15px;
    }
    .product_details .blok,
    .blok_right {
        padding: 0px;
    }
    .product_details .itm_right_bnt {
        z-index: 9999;
    }
    .itm_right_bnt a {
        float: left;
        cursor: pointer;
    }
    .cart_table_wrap_inner,
    .price_details_wrap,
    .checkout_wrap {
        padding-left: 0px;
        padding-right: 0px;
    }
    .profile_wrap {
        padding-left: 10px;
        padding-right: 10px;
    }
    .blklft {
        padding: 10px;
        margin-bottom: 5px;
    }
    .list-group-item-heading .radio .col-xs-3,
    .list-group-item-heading .radio .col-xs-9,
    .list-group-item-heading .radio .col-xs-5 {
        width: 100%;
        padding-bottom: 15px;
    }
    .blklft h3 {
        margin-top: 2px;
        margin-bottom: 5px;
    }

    .cart_prices {
        margin-bottom: 0;
    }

    .sub_line_btn {
        margin-top: 10px;
    }

    .cartitmbok{
        padding-bottom: 1px;
    }

}
@media (max-width: 510px) {
    .product_details .owl-carousel .owl-stage-outer {
        margin-top: 0;
        position: relative;
    }
}
@media (max-width: 480px) {
    .left_logo_top {
        width: 185px;
    }
    .right_bar_top {
        width: calc(100% - 209px);
        padding: 0px;
    }
    .sign_in {
        margin-left: 15px;
        font-size: 11px;
    }
    .right_bnt .cart {
        padding: 0 3px;
    }
    .right_bnt {
        padding-right: 5px;
        padding-top: 14px;
    }
    .logo {
        padding-top: 17px;
        width: 55%;
        margin-left: 15px;
    }
    .right_bar_top .col-xl-2.col-lg-2.col-md-2.col-sm-4.col-xs-12 {
        padding: 0px;
    }
}
@media (max-width: 430px) {
    .sort_by {
        float: left;
        margin-bottom: 8px;
        text-align: right;
        margin-top: 0;
    }
}
@media (max-width: 400px) {}