

/*@font-face {
    font-family: 'Times New Roman';
    src: url('https://demo.softwarecompany.ae/retreatmi/fonts/TimesNewRomanPSMT.eot');
    src: url('https://demo.softwarecompany.ae/retreatmi/fonts/TimesNewRomanPSMT.eot?#iefix') format('embedded-opentype'),
        url('https://demo.softwarecompany.ae/retreatmi/fonts/TimesNewRomanPSMT.woff2') format('woff2'),
        url('https://demo.softwarecompany.ae/retreatmi/fonts/TimesNewRomanPSMT.woff') format('woff'),
        url('https://demo.softwarecompany.ae/retreatmi/fonts/TimesNewRomanPSMT.ttf') format('truetype'),
        url('https://demo.softwarecompany.ae/retreatmi/fonts/TimesNewRomanPSMT.svg#TimesNewRomanPSMT') format('svg');
    font-weight: normal;
    font-style: normal;
} 
*/

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/AvenirNextLTPro-Regular.eot');
    src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
        url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
        url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype'),
        url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

 










.page-header.navbar .page-logo {
    background: #fff;
}
.touchspin{
    text-align: center;
}
.page-header.navbar .page-logo .logo-default {
    margin: 8px 0 0;
}
.hostdetailspage thead tr{
    background: #4cc2c0;
    color: #fff;
}
.messagetitle345{
   color: #00a2a0;
font-family: 'Times New Roman';
font-weight: normal;
font-size: 15px;
}
.collected{
    background: chocolate;
}
.pickup{
    background: #ec1a70;
}
.delivered{
    background: blueviolet;
}
.confirmed{
    background-color: #59e827;
}
.pending{
    background: #8BC34A;
}
.status._cancel {
   background: #dc3545;
}
.status._pending {
   background: orange;
}
.status._confirmed {
   background: green;
}

 
.jconfirm.jconfirm-modern.jconfirm-open .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    font-size: 36px;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.Cancelled{
    background: #ef0fc9;
}
.Received{
    background: #1030cc;
}
.Preparing {
    background: #FF9800;
}
.Sended {
    background: #FF9800;
}




.nav-pills, 
.nav-tabs {
    margin-bottom: 10px;
    font-weight: bold;
}



.doc_tm {
    text-align: center;
    margin-bottom: 10px;
}
.doc_tm h5 {
    font-weight: 600;     
}

.doc_tm  .img-thumbnail{
    margin-bottom: 10px;
    height: 150px;
    width: 220px;
}












@media (max-width: 767px)  {
    .page-header.navbar .page-logo {
        padding-left: 10px !important;
        padding-right: 20px;
    }
}